.app-wrapper {

  display: flex;
  min-height: 100vh;

}

/* MAIN AREA */

.main {

  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: $sidebar-width;

}

/* CONTENT */

.content {

  padding: 2rem;

}