.theme-switch {
  display: flex;
  align-items: center;
}

/* SWITCH */

.switch {
  position: relative;
  width: 52px;
  height: 26px;
}

.switch input {
  display: none;
}

.slider {

  position: absolute;
  inset: 0;

  background: rgba(255,255,255,.15);
  border-radius: 30px;

  cursor: pointer;
  transition: .3s;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;

}

/* ICONS */

.icon {

  font-size: 12px;
  position: absolute;
  transition: .3s ease;

}

.sun {
  left: 6px;
  color: #f59e0b;
  opacity: 1;
}

.moon {
  right: 6px;
  color: #60a5fa;
  opacity: 0;
}

/* TOGGLE BALL */

.slider::before {

  content: "";
  position: absolute;

  height: 20px;
  width: 20px;

  left: 3px;
  top: 3px;

  background: white;
  border-radius: 50%;

  transition: .3s;

}

/* ACTIVE STATE */

input:checked + .slider {
  background: $brand-accent;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

/* ICON ANIMATION */

input:checked + .slider .sun {
  opacity: 0;
  transform: translateX(-6px);
}

input:checked + .slider .moon {
  opacity: 1;
  transform: translateX(-6px);
}